@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.bg-icon{
  background: radial-gradient(67.5% 67.5% at 20% 20%, #FCCD67 5.5%, #D85338 92%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}
.face-position {

  background: transparent;
  /*border: 2px solid #D9583E;*/
  border: 2px solid white;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
